body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.star-wars__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: black;
  height: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sabers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
  min-height: 400px;
  cursor: pointer;
  position: relative;
}

.lightsaber {
  width: 20em;
  min-width: 200px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: absolute;
}

.lightsaber::before {
  content: ' ';
  display: inline-block;
  width: 15%;
  height: 15px;
  background-color: rgba(223, 223, 223, 0.974);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-right: 20px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.lightsaber::after {
  content: '';
  display: inline-block;
  width: 75%;
  height: 15px;
  background-color: aliceblue;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.lightsaber:nth-child(2)::before {
  content: ' ';
  display: inline-block;
  width: 75%;
  height: 15px;
  background-color: aliceblue;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.lightsaber:nth-child(2)::after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 15px;
  background-color: rgba(223, 223, 223, 0.974);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.first-saber {
  top: 25%;
}

.second-saber {
  top: 50%;
}

.third-saber {
  bottom: 25%;
}

.selected > .first-saber {
  opacity: 0;
  -webkit-transform: translate(0, -70px);
          transform: translate(0, -70px);
}

.selected > .second-saber {
  -webkit-transform: rotate(45deg) translate(2.5em, 2em);
          transform: rotate(45deg) translate(2.5em, 2em);
}

.selected > .third-saber {
  -webkit-transform: rotate(-45deg) translate(1em, -2em);
          transform: rotate(-45deg) translate(1em, -2em);
}

.selected:hover .second-saber::before {
  -webkit-box-shadow: #e00016 0px -14px 128px 40px;
          box-shadow: #e00016 0px -14px 128px 40px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  background-color: #ed1140;
}

.selected:hover .third-saber::after {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-box-shadow: #39ab0f 0px -14px 128px 40px;
          box-shadow: #39ab0f 0px -14px 128px 40px;
  background-color: #4bd415;
}

.pendulum__container {
  width: 100%;
  background-color: aliceblue;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pendlum {
  width: 15em;
  height: 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pendlum span {
  position: relative;
}

.pendlum span::after {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  left: -1.5em;
  display: inline-block;
  border: 3px solid rgba(153, 149, 153, 0.531);
  -webkit-box-shadow: 8px 43px 10px #80808021;
          box-shadow: 8px 43px 10px #80808021;
}

.pendlum span:last-child {
  -webkit-animation: moving 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate;
          animation: moving 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate;
  --direction: -1;
}

.pendlum span:first-child {
  animation: moving 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate-reverse;
  --direction: 1;
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(45deg * var(--direction)));
            transform: rotate(calc(45deg * var(--direction)));
  }
}

@keyframes moving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(45deg * var(--direction)));
            transform: rotate(calc(45deg * var(--direction)));
  }
}
/*# sourceMappingURL=styles.css.map */