// Color variables
$heading-text-color__first: #333333;
$heading-text-color__second: #00adee;
$main-text-color__first: #4f4f4f;
$main-text-color__second: #ffffff;

// Font variables

$main-font_family: 'Lato', sans-serif;

// Hovers

.fourth-section .arrow,
a {
    transition: 1s;
}

a:hover {
    color: red;
    transition: 0.3s ease-in-out;
}

.fourth-section .arrow:hover {
    width: 68px;
    height: 59px;
    border: 1px solid #00adee;
    border-radius: 50%;
}

// Width variables

$max-width: 1440px;
$min-width: 360px;

main {
    font-family: $main-font_family;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
    overflow: hidden;
}

// Global styles

.text-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00adee;
    margin-bottom: 27px;
}

.text-title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-bottom: 27px;
}

.text-main {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-bottom: 27px;
}

.learn-more {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: $heading-text-color__second;
    text-decoration: none;
}

.card-icon {
    fill: #f4f6f9;
}

// Sections

.header {
    display: flex;
    width: 100%;
    min-height: 665px;
    background: #f4f6f9;
    background-image: url('../img/header/desktop/Phones.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 11%;
        margin-top: 3%;
        width: 40%;
    }

    &-logo {
        width: 99px;
        height: 32px;
    }

    &__heading-text {
        display: flex;
        color: $heading-text-color__first;
        font-family: $main-font_family;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.03em;
        min-width: 55%;
        margin-top: 65px;
    }

    &__main-text {
        display: flex;
        color: $main-text-color__first;
        font-family: $main-font_family;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        width: 80%;
        margin-top: 30px;
    }

    &__download-links {
        display: flex;
        margin-top: 50px;
    }
    &__download-links > a {
        margin-right: 6%;
    }
}

.first-section {
    display: flex;
    min-height: 562px;

    &__match-notifications-images {
        background: linear-gradient(270deg, #ffffff 36%, rgba(255, 255, 255, 0) 80.14%),
            rgba(255, 255, 255, 0.4) url('../img/main/1st_section/desktop/Rectangle.png');
        background-position: top left;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 50%;
        min-height: 100%;
        position: relative;
    }

    .notification-image-1 {
        position: absolute;
        z-index: 1;
        top: 3em;
        left: 5em;
    }

    .notification-image-2 {
        width: auto;
        position: absolute;
        top: 14em;
        left: 20em;
    }

    &__text {
        margin-left: 70px;
        margin-top: 133px;
    }

    &__text-main {
        max-width: 72%;
    }
}

.second-section {
    height: 35em;
    display: flex;

    &__text {
        margin-left: 11%;
        margin-top: 7em;
        position: absolute;
        z-index: 1;
    }
    &__text-main {
        max-width: 35%;
    }

    &__image {
        width: 100%;
        height: 35em;
        background-image: url('../img/main/2nd_section/desktop/SAMPLE05.png');
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.third-section {
    background-image: url('../img/main/3rd_section/desktop/img-bg.png');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 735px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__text-title {
        color: #ffffff;
    }
    .cards-item__text {
        font-size: 16px;
        line-height: 23px;
        color: #ffffff;
    }

    .cards-item__text::before {
        content: '• ';
    }

    &__cards-wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        gap: 2.5em;
        margin-top: 58px;
        width: 77%;
    }

    &__cards-item {
        display: flex;
        flex-direction: column;
        width: 311px;
        margin-right: 70px;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    .card-icon {
        max-width: 40px;
        max-height: 40px;
    }
}

.fourth-section {
    position: relative;
    width: 100%;
    min-height: 30em;

    &__text-title {
        display: flex;
        justify-content: center;
        margin-top: 68px;
        margin-bottom: 62px;
    }

    &__slider {
        margin: 0 auto;
        left: -3%;
        position: relative;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: top;
        gap: 36px;
    }
    .slider-item {
        display: flex;
        flex-direction: column;
        min-width: 19%;
        max-width: 380px;
        min-height: 10em;
        height: auto;
        border: 1px solid #828282;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .slider-item__title {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .title-logo__img {
        width: 30px;
        height: 30px;
        margin-right: 11px;
        margin-left: 17px;
    }
    .slider-item__title-icon {
        margin-left: auto;
        margin-right: 24px;
    }
    .title-icon__social {
        width: 15px;
        height: 12px;
    }

    .slider-item__main-text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #4f4f4f;
        width: 90%;
        margin-left: 17px;
        margin-bottom: 24px;
        margin-top: 10px;
        margin-right: 13px;
    }

    &__navigation-wrapper {
        top: 0;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // background:#00adee;
    }

    &__navigation-arrows {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(
            270deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(40, 40, 138, 0) 35%,
            rgba(9, 9, 121, 0) 85%,
            rgba(255, 255, 255, 1) 100%
        );
        height: 80%;
    }

    .arrow {
        cursor: pointer;
        width: 70px;
        height: 70px;
    }

    .navigation-arrows__left-arrow {
        margin-left: 102px;
    }
    .navigation-arrows__left-arrow::before {
        content: ' sdfsdf';
        height: 300px;
        width: 11px;
        background-color: #00adee;
    }

    .navigation-arrows__right-arrow {
        margin-right: 102px;
    }

    &__navigation-dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation-dots__icon {
        width: 143px;
        height: 11px;
    }
}

.fifth-section {
    height: 20em;
    background: #fafafa;
    display: flex;
    &__content-wrapper {
        width: 80%;
        margin: 57px auto auto auto;
    }
    &__text-title {
        display: flex;
        justify-content: center;
        margin-bottom: 57px;
    }
    &__logo-block {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .logo-block__item {
        margin-left: 30px;
        margin-top: 20px;
    }
    .logo-block__item:nth-child(1) {
        max-width: 149px;
        max-height: 49px;
    }
    .logo-block__item:nth-child(2) {
        max-width: 102px;
        max-height: 32px;
    }
    .logo-block__item:nth-child(3) {
        max-width: 68px;
        max-height: 58px;
    }
    .logo-block__item:nth-child(4) {
        max-width: 110px;
        max-height: 32px;
    }
    .logo-block__item:nth-child(5) {
        max-width: 48px;
        max-height: 48px;
    }
    .logo-block__item:nth-child(6) {
        max-width: 210px;
        max-height: 34px;
    }
}

.sixth-section {
    min-height: 32em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    &__content-wrapper {
        margin-left: 25em;
        margin-right: 6em;
    }
    &__image {
        margin-left: 0;
        width: 153%;
        height: 32em;
    }

    .download-links {
        margin-left: 0;
    }
}

.footer {
    display: flex;
    align-items: center;
    min-height: 127px;
    background-color: #00adee;
    &__content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 77%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__logo {
        width: 99px;
        height: 32px;
        align-self: flex-start;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        width: 19em;
    }
    &__links-item {
        display: inline-block;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-decoration: none;
        color: #ffffff;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        min-width: 6em;
    }

    &__socials-item {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
}

a {
    outline: none;
}

@media screen and (max-width: 1301px) {
    .header {
        background-image: none;
        text-align: center;
        &__content-wrapper {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .first-section {
        flex-direction: column;
        &__text {
            order: 1;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4em;
            margin-bottom: 3em;
        }
        &__text-main {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__match-notifications-images {
            order: 2;
            background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 120.14%),
                rgba(255, 255, 255, 0.4) url('../img/main/1st_section/desktop/Rectangle.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 39rem;
        }
        .notification-image-1 {
            z-index: 1;
            top: 5em;
            left: -3em;
            width: 76%;
        }

        .notification-image-2 {
            top: 19em;
            left: 23em;
            width: 55%;
        }
    }
    .second-section {
        &__text {
            margin-top: 11%;
        }
        &__image {
            height: 35em;
            background-size: cover;
        }
    }
    .third-section {
        background-image: url('../img/main/3rd_section/desktop/img-bg.png');
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 735px;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__text-title {
            color: #ffffff;
        }
        .cards-item__text {
            font-size: 16px;
            line-height: 23px;
            color: #ffffff;
        }

        &__cards-wrapper {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-around;
            gap: 2.5em;
            margin-top: 58px;
            width: 77%;
        }

        &__cards-item {
            display: flex;
            flex-direction: column;
            width: 311px;
            margin-right: 70px;
            margin-bottom: 50px;
            flex-wrap: wrap;
        }
    }

    .fourth-section {
        & .arrow:hover {
            border: none;
        }
        min-height: 26em;
        &__navigation-arrows {
            height: 24em;
        }
    }

    .sixth-section {
        &__content-wrapper {
            margin-left: 0;
            margin-right: 74px;
            width: 70%;
        }

        &__image {
            margin-left: 0;
            width: 100%;
            height: 32em;
        }
    }
}

@media screen and (max-width: 721px) {
    .header {
        &__content-wrapper {
            width: 76%;
            height: 39em;
        }

        &__download-links {
            justify-content: space-between;
        }
    }

    .first-section {
        height: 526px;
        &__match-notifications-images {
            width: 100%;
            height: 33rem;
        }
        .notification-image-1 {
            top: 26%;
            left: 0em;
            width: 69%;
        }

        .notification-image-2 {
            top: 50%;
            left: 13em;
            width: 48%;
        }
    }

    .second-section {
        display: flex;
        flex-direction: column;
        height: 108em;
        justify-content: center;
        align-items: center;

        &__text {
            text-align: center;
            margin-top: 27em;
            position: static;
            margin-left: auto;
            margin-right: auto;
        }
        &__text-main {
            text-align: center;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        &__image {
            background-image: url('../img/main/2nd_section/mobile/Mobile_bg-1.png');
            width: 99%;
            height: 66%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .third-section {
        background: #fafafa;
        background-image: none;

        &__cards-wrapper {
            grid-template-columns: auto;
            width: 100%;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        &__cards-item {
            align-items: center;
            text-align: center;
            margin: 0;
        }

        .card-icon {
            fill: #00adee;
        }

        .cards-item__text {
            text-align: center;
            color: #4f4f4f;
           
           
        }

        &__text-title {
            text-align: center;
            color: #333333;
        }

        .cards-item__text::before {
            content: '';
        }
    }

    .mobile {
        fill: #00adee;
    }

    .fourth-section {
        min-height: 22em;
        &__navigation-arrows {
            height: 82%;
            background: none;
            .navigation-arrows__left-arrow {
                opacity: 0;
            }
            .navigation-arrows__right-arrow {
                margin-right: -7px;
                margin-top: 87px;
            }
        }

        .slider-item {
            height: 10em;
        }

        .slider-item:nth-child(3) {
            min-width: 82%;
            margin-left: 93px;
            margin-right: 50px;
            max-height: 20%;
        }
    }

    .fifth-section {
        height: 46em;
        &__content-wrapper {
            width: 100%;
        }
        &__logo-block {
            height: 10em;
            width: 63%;
            margin: 8em auto auto auto;
            flex-wrap: wrap;
            justify-content: center;
        }
        .logo-block__item {
            margin-right: 20px;
            margin-bottom: 20px;
            &:nth-child(1) {
                width: 200px;
            }
        }
    }

    .sixth-section {
        min-height: 32em;
        flex-direction: column;
        align-items: center;

        &__content-wrapper {
            order: 1;
            margin: 3em auto 3em auto;
            text-align: center;
            align-items: center;
        }

        &__text-main {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &__image {
            order: 2;
            margin-left: 0;
            width: 100%;
            height: 26em;
        }
        .download-links {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            &-img {
                width: 100%;
            }
        }
    }

    .footer {
        height: 13em;
        &__content-wrapper {
            height: 10em;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__logo {
            order: 1;
            margin-top: 1em;
        }

        &__links {
            order: 3;
            margin-top: 2em;
            width: 100%;
        }
        &__links-item {
            // position: relative;
            // min-width: 8em;
        }
        // &__links-item:hover::before {
        //     margin-right: 10px;
        //     content: '[';
        //     -webkit-transform: translateX(20px);
        //     -moz-transform: translateX(20px);
        //     transform: translateX(20px);
        // }

        // &__links-item:hover::after {
        //     margin-left: 10px;
        //     content: ']';
        //     -webkit-transform: translateX(-20px);
        //     -moz-transform: translateX(-20px);
        //     transform: translateX(-20px);
        &__socials {
            order: 2;
            margin-top: 1em;
        }
    }
}

@media screen and (max-width: 361px) {
    .header {
        &__content-wrapper {
            width: auto;
            height: auto;
        }
        &__heading-text {
            margin-top: 1em;
        }
        &__download-links > a {
            margin-right: 1%;
        }
        &-logo {
            margin-bottom: 2em;
        }
    }

    .first-section {
        &__text {
            margin-top: 4em;
            margin-bottom: 1em;
        }

        &__match-notifications-images {
            background-position: top;
        }
        & .notification-image-1 {
            top: 0em;
            left: -2em;
            width: 76%;
        }

        & .notification-image-2 {
            top: 7em;
            left: 9em;
            width: 55%;
        }
    }

    .second-section {
        height: 77em;
        &__text {
            margin-top: 18em;
        }

        &__image {
            width: 109%;
            height: 58em;
            background-size: cover;
        }
    }

    .third-section {
        height: 114em;
        &__text-title {
            text-align: center;
        }

        &__cards-item {
            margin: 0 0 15px 0;
        }
        & .cards-item__text {
            width: 16em;
        }
    }
    .fourth-section {
        height: 1em;
        & .slider-item:nth-child(3) {
            min-width: 88%;
            margin-left: 73px;
            margin-right: 50px;
            height: 20%;
        }

        & .slider-item__main-text {
            width: 89%;
        }

        &__navigation-arrows {
            height: 78%;
            background: none;
        }
        &__navigation-arrows .navigation-arrows__right-arrow {
            margin-right: -9px;
            margin-top: 79px;
        }
    }

    .fifth-section {
        height: 28em;

        &__logo-block {
            margin: 1em auto auto auto;
            width: 90%;
            width: 100%;
        }
        & .logo-block__item {
            margin: 8px 16px 20px 0px;
        }
    }

    .sixth-section {
        &__content-wrapper {
            width: 100%;
        }
        & .download-links {
            height: 4em;
            width: 21em;
            margin-left: auto;
            margin-right: auto;

            &-img {
                width: 80%;
            }
        }

        -img &__image {
            height: 17em;
        }
    }

    .footer {
        &__content-wrapper {
            width: 86%;
        }
    }

    .card-icon {
        fill: #00adee;
        stroke: #00adee;
    }
    .mobile {
        fill: #00adee;
    }
}
