body {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
}
.container_top {
    background: #ed4c5c;
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 500px;
}

.container_top__heading {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 122px;

    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.container_top__paragraph {
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;

    font-size: 14px;
    line-height: 140%;
    text-align: justify;
}

.container_top__slider {
    position: absolute;
    width: 533px;
    height: 311px;
    right: 216px;
    left: 691px;
    top: 94px;
    bottom: 95px;
}

.container_top__dowload-links {
    position: absolute;
    width: 134px;
    height: 32px;
    left: 163px;
    top: 357px;
}
.icon {
    position: absolute;
}

.container_top__dowload-links_android {
    position: absolute;
    top: 357px;
    left: 163px;
    width: 32px;
    height: 32px;
}

.container_top__dowload-links_ios {
    position: absolute;
    top: 357px;
    left: 218px;
    width: 32px;
    height: 32px;
}

.container_top__dowload-links_windows {
    position: absolute;
    top: 361px;
    left: 273px;
    width: 24px;
    height: 24px;
}

/* Middle */

.container_middle {
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 500px;
}

.container_middle__heading {
    position: absolute;
    height: 445px;
    width: 107px;
    left: 176px;
    top: 117px;

    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}

.container_middle__paragraph {
    position: absolute;
    height: 64px;
    width: 434px;
    left: 176px;
    top: 213px;

    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    text-align: justify;
    color: #000000;
}

.container_middle__form {
    position: relative;
    width: 540px;
    height: 305px;
    left: 735px;
    top: 117px;
}

.container_middle__form-input {
    position: absolute;
    padding-left: 31px;
    padding-top: 21px;
    padding-bottom: 20px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);

    border-radius: 6px;
}

.first-name_input {
    right: 285px;
    bottom: 245px;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}

.last-name_input {
    left: 285px;
    bottom: 245px;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}

.phone-number_input {
    top: 84px;
    bottom: 161px;
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}

.service-select {
    position: absolute;
    top: 168px;
    bottom: 77px;
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}

.submit {
    top: 255px;
    right: 380px;
    width: 160px;
    height: 50px;

    color: #fff;
    background: #ed4c5c;
    border: 1.5px solid #ed4c5c;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px 34px 16px 34px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    text-transform: uppercase;
}
.container_bottom {
    background: #fafafa;
    position: absolute;
    width: 100%;
    height: 435px;
    left: 0px;
    top: 1045px;
}

.container_bottom__address-block {
    position: absolute;
    width: 259px;
    height: 264px;
    left: 161px;
    top: 85px;
}

.container_bottom__address-block__heading {
    position: absolute;
    left: 5px;
    width: 65px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;
}

.container_bottom__address-block__title {
    position: absolute;
    width: 254px;
    height: 54px;
    left: 5px;
    top: 55px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;

    color: #101010;
}

.container_bottom__address-block__footer {
    position: absolute;
    width: 155px;
    height: 14px;
    top: 250px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #101010;
}

.container_bottom__services-block {
    position: absolute;
    width: 254px;
    height: 164px;
    left: 450px;
    top: 85px;
}

.container_bottom__services-block__heading {
    position: absolute;
    width: 67px;
    height: 22px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;
}

.container_bottom__services-block__title {
    position: absolute;
    width: 254px;
    height: 114px;
    top: 50px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;

    text-transform: capitalize;

    color: #000000;

    cursor: pointer;
}

.container_bottom__get-in-touch-block {
    position: absolute;
    width: 122px;
    height: 128px;
    left: 734px;
    top: 85px;
}

.container_bottom__get-in-touch-block__heading {
    width: 101px;
    height: 22px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #101010;
}

.container_bottom__get-in-touch-block__email {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 59px;

    width: 122px;
    height: 14px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #101010;

    cursor: pointer;
}

.container_bottom__get-in-touch-block__number {
    position: absolute;
    top: 80px;
    bottom: 34px;
    right: 26px;
    width: 96px;
    height: 14px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #121212;
}

.get-in-touch-block__facebook-logo {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 734px;
    top: 199px;
}

.get-in-touch-block__linkedin-logo {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 760px;
    top: 199px;
}

.get-in-touch-block__twitter-logo {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 786px;
    top: 199px;
}

.container_bottom__payment-secure__heading {
    position: absolute;
    width: 96px;
    height: 22px;
    left: 1022px;
    top: 85px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;
}

.payment-secure__image {
    position: absolute;
    width: 216px;
    height: 31px;
    left: 1028px;
    top: 140px;
}
