body {
    min-width: 1100px;
    min-height: 600px;
}

.wrapper {
}

nav {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 132px;
    height: 852px;
    &__item {
        background-color: #fff;
        width: 30px;
        height: 30px;
    }
    & .major {
        background-color: #fff;
        width: 47px;
        height: 102px;
    }
}
