body {
  background: #2f2f2f;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}
.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5em;
  border: 1px solid gray;
  border-radius: 5px;
  width: 50em;
  background: #2f2f2f;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  width: 50em;
}

td {
  border-top: 1px solid gray;
}

td:nth-child(2n) {
  color: gray;
}

.dots::before {
  content: "•••";
  font-size: 12px;
  letter-spacing: 2px;
}
