.wrapper {
    display: flex;

    /* background-color: aqua; */
    justify-content: center;
}

.header {
    /* background-color: antiquewhite; */
    width: 1248px;
    height: 754px;
    margin: 50px 112px 0 240px;
}

.header__nav-bar {
    display: flex;
    width: 1120px;
    height: 60px;
    /* background-color: red; */
    align-items: center;
}

.header__nav-bar__logo img {
    max-width: 49px;
    max-height: 35px;
    margin-right: 121px;
}

.header__nav-bar__items {
    display: flex;
    max-width: 322px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__nav-bar__item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-decoration: none;
}
.header-req-demo-link {
    margin-left: auto;
}

.req-demo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 17px 29px;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    transition: 0.3s ease-in-out;
}

.req-demo-btn-arrow {
    width: 20px;
    height: 14px;
    margin-left: 20px;
}

.top-content {
    /* background-color: blue; */
}

.top-content__img-womans {
    position: relative;
    width: 885px;
    height: 468px;
    margin-top: auto;
    left: 363px;
    top: 216px;
}

.top-content__text {
    position: absolute;
    top: 240px;
    width: 645px;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-content__text-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
    width: 645px;
    height: 184px;
    margin-bottom: 50px;
}

.top-content__text-title {
    width: 380px;
    height: 120px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4b5d68;
    margin-bottom: 50px;
}

.top-content__btn {
    background: #9c69e2;
    border-radius: 50px;
    padding: 16px 32px;
    border: hidden;
    max-width: 170px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.middle-content__card {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    position: absolute;
    width: 1117px;
    height: 560px;
    top: 903.18px;
    display: flex;
}

.middle-content__card__img {
    width: 477px;
    height: 504px;
    left: 251px;
    margin: 31.82px 0px 24.18px 11px;
}

.middle-content__card__text {
    display: flex;
    width: 475px;
    height: 310px;
    flex-direction: column;
    margin: 125px 92px 125px 62px;
}

.middle-content__card__text-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    text-align: left;
    margin-bottom: 40px;
    width: 475px;
    height: 100px;
}

.middle-content__card__text-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4b5d68;
}

.middle-content__feauteres__wrapper {
    display: flex;
    margin-top: 1019px;
    width: 1117px;
    height: 160px;
}

.middle-content__feauteres {
    display: block;
    width: 584px;
    height: 160px;
    margin: 0px 265.56px 0px 287.29px;
}

.middle-content__feauteres__text-heading {
    width: 405px;
    height: 52px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #212353;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.middle-content__feauteres__text-title {
    width: 100%;
    height: 58px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4b5d68;
}

.middle-content__feauteres__cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1117px;
    height: 842px;
    margin-top: 149px;
    margin-left: auto;
    margin-right: auto;
}

.middle-content__feauteres__card {
    display: flex;
    width: 49%;
    height: 49%;
    justify-content: center;
    align-items: center;
}
.middle-content__feauteres__card__text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.middle-content__feauteres__card-text-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: #212353;
    margin-bottom: 40px;
}

.middle-content__feauteres__card-text-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4b5d68;
    margin-bottom: 40px;
    width: 220px;
    height: 160px;
}

.middle-content__feauteres__card__img-1 {
    width: 232px;
    height: 211px;
}

.middle-content__feauteres__card__img-2 {
    width: 241px;
    height: 185px;
}

.middle-content__feauteres__card__img-3 {
    width: 245px;
    height: 181px;
}

.middle-content__feauteres__card__img-4 {
    width: 230px;
    height: 201px;
}

.middle-content__feauteres__card-btn {

}

.middle-content__feauteres__card-btn > img {
    width: 20px;
    height: 14px;
}

.middle-content__feauteres__card-btn__label {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    margin-right: 20px;
    width: 87px;
    height: 26px;
}


